<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=list.title%></title>
</head>
<body>
    <h3><%=list.title%></h3>
    <h3>Edit place details</h3>
    <!--This way we can send all data in form of an object-->
    <form method="POST" action="/listings/<%=list._id%>?_method=PUT">
        <input type="text" name="listing[title]" value="<%=list.title%>">
        <br><br>
        <textarea name="listing[description]" rows="10" cols="35"><%=list.description%></textarea>
        <br><br>
        <input type="text" name="listing[image]" value="<%=list.image%>">
        <br><br>
        <input type="number" name="listing[price]" value="<%=list.price%>">
        <br><br>
        <input type="text" name="listing[location]" value="<%=list.location%>">
        <br><br>
        <input type="text" name="listing[country]" value="<%=list.country%>">
        <br><br>
        <button type="submit">Add</button>
</body>
</html>