<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=list.title%></title>
</head>
<body>
    <h2><%=list.title%></h2>
    <ul>
        <li><%=list.description%></li>
        <li>&#8377;<%=list.price.toLocaleString("en-IN")%> per night.</li>
        <li><%=list.location%></li>
        <li><%=list.country%></li>
    </ul>
</body>
</html>