<% layout("layouts/boilerplate") %>
<head>
  <title><%=list.title%></title>
</head>
<body>
  <h2 class="title-show-route"><%=list.title%></h2>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card">
        <img
          src="<%= list.image %>"
          class="card-img-top show-route-img"
          alt="place view"
        />
        <div class="card-body">
          <p class="card-text">
            <p><i style="font-size: 1.2rem" class="fa-solid fa-circle-user"></i> <i><%= list.owner.username%></i></p>
            <%=list.description%><br />
            &#8377;<%=list.price.toLocaleString("en-IN")%> per night<br />
            <%=list.location%><br />
            <%=list.country%><br />
          </p>
          <% if(currentUser && currentUser._id.equals(list.owner._id)){ %> <!--if currentUser doesn't exist then currentUser._id will throw error so first check if currentUser exist or not-->
          <div class="btns mb-2">
            <a href="/listings/<%=list._id%>/edit" class="btn btn-secondary"
              >Edit</a
            >
            <form method="POST" action="/listings/<%=list._id%>?_method=DELETE">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
      <hr />

      
      <!-- review show section -->
      <div>
        <p><b>All reviews</b></p>
      </p>
      <div class="rows all-reviews">
        <% for(review of list.reviews){ %>
          <div class="card col-5 mb-3 review">
            <div class="card-body">
              <h5 class="card-title"><i style="font-size: 1rem;" class="fa-solid fa-user"></i> <%= review.owner.username%></h5>
                <h6 class="card-subtitle text-muted mb-3"><%= review.rating %>⭐</h6>
                <p class="card-text"><%= review.comment%></p>
                <form method="POST" action="/listings/<%=list._id%>/review/<%=review._id%>?_method=DELETE">
                  <button class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
            <%}%>
        </div>
      </div>
      <hr/>
      <!-- review section -->
      <% if(currentUser) { %>
        <div class="add-review mt-3">
        <h4>Leave a review</h4>
        <form
          action="/listings/<%= list._id %>/review"
          method="POST"
          novalidate
          class="needs-validation"
        >
          <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input
              type="range"
              min="0"
              max="5"
              class="form-range"
              name="review[rating]"
            />
          </div>
      
          <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea
              name="review[comment]"
              id="comment"
              class="form-control"
              required
            ></textarea>
            <div class="invalid-feedback">
              Please add some comment for review
            </div>
          </div>
      
          <button class="btn btn-outline-primary mb-3 mt-3">Submit</button>
        </form>
        </div>
      <% } %>

    </div>
  </div>
</body>
